.App {
    border: solid 3px black;
    width: 80vw; 
    /* height: 50vh; */ 
}
.patient-container {
    list-style-type: none;

    .patient-entry {
        display: flex;
        align-items: center;

        div {
            display: inline-flex;
            margin: auto;
        }
    }
}
.patient-entry:nth-child(even) {
    background-color: rosybrown; 
}