.App {
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  /* height: 50vh; */
  margin: 0;
  padding: 0;
  overflow: hidden;
}

#title {
  background-color: #1b5972;
  color: white;
  width: 100%;
  padding: 2vh;
  padding-left: 5vw;
  font-size: 3vh;
  width: 100vw;
  font-weight: 700;
  margin-bottom: 5vh;
}

#title svg {
  padding-right: 3vw;
  cursor: pointer;
}

.patient-container {
  list-style-type: none;
  width: 80vw;
  margin: 0;
  padding: 0;
  border-collapse: collapse;
}

.patient-container td, .patient-container th {
  border: 1px solid #ddd;
  padding: 8px;
}

.patient-container .patient-entry:hover {
  background-color: #959ca3;
}

.patient-container .patient-entry, .patient-container #table-headers {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  /*
        .test-info-last {
            display: flex; 
            flex-direction: row; 
            justify-content: space-between;
            text-align: center;

        }
        */
}

.patient-container .patient-entry .bed-number, .patient-container .patient-entry #bed-number-header, .patient-container #table-headers .bed-number, .patient-container #table-headers #bed-number-header {
  margin: 0;
  width: 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.patient-container .patient-entry .test-info-last, .patient-container .patient-entry #test-info-last-header, .patient-container #table-headers .test-info-last, .patient-container #table-headers #test-info-last-header {
  width: 40%;
}

.patient-container .patient-entry .test-info-last, .patient-container #table-headers .test-info-last {
  text-align: center;
}

.patient-container .patient-entry .test-status, .patient-container .patient-entry #test-status-header, .patient-container #table-headers .test-status, .patient-container #table-headers #test-status-header {
  width: 10%;
  height: 100%;
}

.patient-container .patient-entry .test-status, .patient-container #table-headers .test-status {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-weight: 100;
}

.patient-container .patient-entry .test-info-next, .patient-container .patient-entry #test-info-next-header, .patient-container #table-headers .test-info-next, .patient-container #table-headers #test-info-next-header {
  width: 40%;
}

.patient-container .patient-entry .test-info-next, .patient-container #table-headers .test-info-next {
  text-align: center;
}

.patient-entry:nth-child(odd) {
  background-color: #afc3d1;
}

.container {
  max-width: 90%;
  margin: 0 auto;
}

.above-table {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 1rem;
  width: 100%;
}

.above-table button {
  border: none;
  background: transparent;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  border-radius: 5px;
}

.above-table button.add-patient {
  background-color: #f0bca3;
  cursor: pointer;
  padding: 1vh;
  color: white;
}

.above-table button.add-patient:hover {
  background-color: #e25f5a;
}

.above-table button.add-patient:active {
  background-color: #e25f5a;
  color: white;
}

.above-table button.settings {
  color: #808088;
  font-size: 5vh;
}

.above-table button.settings:hover {
  color: #9797a1;
}

.above-table button.settings:active {
  color: #a4a4af;
}

.backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(51, 51, 51, 0.3);
  -webkit-backdrop-filter: blur(1px);
          backdrop-filter: blur(1px);
  opacity: 0;
  -webkit-transition: all 100ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: all 100ms cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition-delay: 200ms;
          transition-delay: 200ms;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.backdrop.modal-content {
  -webkit-transform: translateY(100px);
          transform: translateY(100px);
  -webkit-transition: all 200ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: all 200ms cubic-bezier(0.4, 0, 0.2, 1);
  opacity: 0;
}

.backdrop.active {
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-delay: 0ms;
          transition-delay: 0ms;
  opacity: 1;
}

.backdrop.active .modal-content {
  -webkit-transform: translateY(0);
          transform: translateY(0);
  opacity: 1;
  -webkit-transition-delay: 150ms;
          transition-delay: 150ms;
  -webkit-transition-duration: 350ms;
          transition-duration: 350ms;
}

.content {
  position: relative;
  padding: 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  min-height: 50px;
  min-width: 50px;
  max-height: 80%;
  max-width: 80%;
  -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
          box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  background-color: white;
  border-radius: 2px;
}

.hidden {
  display: none;
}
/*# sourceMappingURL=App.css.map */