.App {
    border: solid 3px black;
    width: 80vw; 
    /* height: 50vh; */ 
    margin: 0; 
    padding: 0; 
}
.patient-container {
    list-style-type: none;
    margin: 0; 
    padding: 0; 

    .patient-entry {
        display: flex;
        align-items: center;

        .bed-number {
            margin: 0; 
            padding: 0; 
            width: 10%; 

        }

        .test-info {
            margin: 0;
            padding: 0; 
            display: flex; 
            flex-direction: row;
            justify-content: space-between;
            width: 90%;

            div {
                display: flex; 
                flex-direction: column; 
            }
        }
        div {
            display: inline-flex;
            margin: auto;
        }
    }
}
.patient-entry:nth-child(even) {
    background-color: rosybrown; 
}